<html>

<head>
        <link rel="stylesheet" href='../css/register.css' type="text/css">
    <title>Registration</title>
</head>

<body>

    <form>

        <div class="RegistrationForm">
            <h1>Sign Up</h1>
            <div class="text">
                <label for="firstname"><b>FirstName</b></label>
                <input type="text" style="text-align: left" placeholder="Enter First Name" name="firstname" required>
            </div>
            <div class="text">
                <label for="lastname"><b>LastName</b></label> <br>
                <input type="text" style="text-align: left" placeholder="Enter Last Name" name="lastname" required>
            </div>
            <div class="email">
                <label for="email"><b>Email</b></label>
                <input type="text" style="text-align: left" placeholder="Enter email" name="email" required>
            </div>
            <div class="password">
                <label for="psw"><b>Password</b></label><br>
                <input type="password" style="text-align: left" placeholder="Enter password" name="psw" required>
            </div>
            <div class="password">
                <label for="psw-repeat"><b>Repeat Password</b></label><br>
                <input type="password" style="text-align: left" placeholder="Enter repeat password" name="psw" required>
            </div>
            <div class="cancelbtn">
                <button type=button id="b1" ui-sref="login">Sign in</button>
                <button type=button id="b2">Submit</button>
            </div>
        </div>
    </form>

</body>

</html>