<body>
 <link rel="stylesheet" href="../css/resetPassword.css" type="text/css">
    <form>
        <div class="resetpassword">
        <label for="newPassword"><b>New Password:</b></label>
        <input type="password" id="newPassword"  placeholder="new password"  required >
        <label for="confirmPassword"><b>Confirm Password:</b></label>
        <input type="password" id="confirmPassword" placeholder="confirm new password" required >
        </div>
        <div class="resetbtn">
            <button type="button">Submit</button>
        </div>
    </form>

</body>